# CockroachDB
COCKROACH_HOST=localhost
COCKROACH_PORT=26257
COCKROACH_USER=warpbid
COCKROACH_PASSWORD=securepassword321
COCKROACH_DATABASE=warpbid
COCKROACH_SSLMODE=disable

# DragonflyDB (Redis-compatible)
DRAGONFLY_HOST=localhost
DRAGONFLY_PORT=6379
DRAGONFLY_PASSWORD=securepassword321

# ScyllaDB
SCYLLA_HOSTS=127.0.0.1,127.0.0.2
SCYLLA_PORT=9042
SCYLLA_KEYSPACE=warpbid_space
SCYLLA_USER=warpbid
SCYLLA_PASSWORD=securepassword321

# NATS messaging
NATS_URL=nats://localhost:4222
